.navbar-toggler-icon {
    background-image: url("../icons/burger_icon.svg");
}


th img{
  cursor: pointer;
}




c {
  background-color: greenyellow;
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }

  .socicon {
    width: 2rem;
    height: 2em;
    border: none;
    border-radius: 1rem;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }